<h1>Product Detail</h1>
<p>Name: <%= @product.name %></p>
<p>Cost: $<%= @product.cost %></p>
<p>Country of Orign: <%= @product.country %></p>

<%= link_to 'Edit Product Info', edit_product_path, :class => 'btn btn-primary'  %>
<%= link_to 'Delete Product', product_path(@product), :method =>'delete', :data => {:confirm => 'You sure?'}, :class => 'btn btn-danger'%>

<p class="mt-5"><%= link_to 'Add Review', new_product_review_path(@product)%><p>

<% if @product.reviews.any? %>

    <% @product.reviews.each do |review| %>
      <div class="review-body">
        <h5>Author: <%= review.author %></h5>
        <h5>Rating: <%= review.rating %></h5>
        <p>
          <%= review.content %>
        </p>
        <%= link_to 'Edit Review', edit_product_review_path(@product, review), :class => 'btn btn-success btn-sm' %>
        <%= link_to 'Delete Review', product_review_path(@product, review), :method =>'delete', :data => {:confirm => 'You sure?'}, :class => 'btn btn-danger btn-sm'%>
      </div>
    <% end %>
  <% else %>
    <h5>No reviews yet</h5>
  <% end %>
</div>
